[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# test
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
requests = "*"
# lint
autoflake = "*"
flake8-fixme = "*"
mypy = "*"
black = "==19.10b0"
isort = "*"
wemake-python-styleguide = "*"
lxml = "*"

[packages]
gino = "*"
fastapi = "==0.46.0"
uvicorn = "==0.11.1"
gunicorn = "==20.0.4"
alembic = "==1.4.1"
inject = "*"
pydantic = {extras = ["email"],version = "*"}

[requires]
python_version = "3.8"
